body {
    margin: 0;
    overflow: hidden;
    background: black;
}

#counter {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

#volumeControl {
    position: absolute;
    top: 50px; /* Adjusted to be lower */
    left: 10px;
    z-index: 10; /* Ensures it is on top */
    cursor: pointer;
}
